# Ignorar carpetas generadas por PyInstaller
build/
dist/*/
!dist/*.exe       # NO ignorar los .exe dentro de dist/

# Ignorar archivos de configuración de PyInstaller
*.spec

# Ignorar archivos compilados de Python
__pycache__/
*.pyc

# Ignorar entorno virtual (si usas)
venv/
env/

# Archivos temporales del sistema operativo
.DS_Store
Thumbs.db
